@using Core.Models.Identity;
@using Microsoft.AspNetCore.Identity;
@using Core.Models.UsersViewModels
@using Core.Authorization;

@model Core.Models.UsersViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Users";
}

<h2>@ViewData["Title"]</h2>
<h4>Overzicht</h4>
<hr />

@if (User.Identity.IsAuthenticated) {
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <tr>
                    <th>
                        Gebruikersnaam
                    </th>
                    <th>
                        Naam
                    </th>
                    <th>
                        Rollen
                    </th>
                </tr>

                @foreach (Core.Models.UsersViewModels.UserRolesDbUsersViewModel model in Model.Users)
                {
                    <tr class="actions">
                        <td>
                            @if ((await AuthorizationService.AuthorizeAsync(User, model.User, UserOperations.Update)).Succeeded)
                            {
                                @Html.ActionLink(model.ApplicationUser.UserName, "Edit", new { id = model.ApplicationUser.Id })
                            } else {
                                @Name(model.ApplicationUser.UserName, "")
                            }
                        </td>
                        <td>
                            @if (@model.User != null) {
                                @Name(@model.User.FirstName, @model.User.LastName)
                            }
                        </td>
                        <td>
                            @foreach(SelectRoleViewModel rvm in model.Roles)
                            {
                                @if (@rvm.Selected) {
                                    @rvm.Role.Name <br/>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
</div>
}

@functions{
    public string Name(string firstName, string lastName)
    {
        return firstName + " " + lastName;
    }
}